<!doctype html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>IRsystem</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
    </head>
    <body>
        <div class='searchForm' style="position:fixed; top: 0%; box-shadow: 10px 10px 5px #888888;">
            <form action="http://localhost:5000/search" method="get">
                <div style="padding: 50px 100px 10px;">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" name="query"class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Search!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /input-group -->
                <div style="padding: 20px 0px 10px;">   
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input type="text" name="window" class="form-control" placeholder='Window size'>
                                <div class="checkbox col-lg-6">
                                    <label>
                                      <input type="checkbox" name="synonym">Synonym
                                    </label>
                                </div>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->

                    </div><!-- /input-group -->
                </div>
            </form>
        </div>
    </body>
</html>